<%= partial "header" %>

  <div class="blog single"><%= image_tag current_article.data['header_image'], :width => '100%', :class => 'header_image' %><div class="content">
	<h3><%= current_article.title %></h3><%= yield %></div></div>
	
  </body>
</html>